<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Numbers Tester</title>
</head>
<body>
  <div>
    <select id="langSelect" #langSelect class="w-100" (change)="onLanguageChange(langSelect.value)">
      <option *ngFor="let lang of availableLanguages" [value]="lang" [selected]="lang === currentLanguage">
        {{ lang | translate }}
      </option>
    </select>
  </div>

  <div>
    <span>Selected Language: {{ currentLanguage }}</span>
  </div>

  <div>
    <span>Testing Translations: {{ 'samples.test' | translate }}</span>
  </div>

  <br />
  <br />
  <div class="numbers">
    <div>
      <app-number-input></app-number-input>
    </div>
    <div>
      <app-number-input [restorePreviousValue]="false"></app-number-input>
    </div>
    <div>
      <app-number-input [precision]="0"></app-number-input>
    </div>
    <div>
      <app-number-input [precision]="2"></app-number-input>
    </div>
  </div>

  <div>
    <router-outlet></router-outlet>
  </div>
</body>
</html>
