<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Numbers Tester</title>
</head>
<body>
  <div>
    <select id="langSelect" #langSelect class="w-100" (change)="onLanguageChange(langSelect.value)">
      <option *ngFor="let lang of availableLanguages" [value]="lang" [selected]="lang === currentLanguage">
        {{ lang | translate }}
      </option>
    </select>
  </div>

  <div>
    <span>Selected Language: {{ currentLanguage }}</span>
  </div>

  <div>
    <span>Testing Translations: {{ 'samples.test' | translate }}</span>
  </div>

  <div class="numbers">
    <div>
      <span>{{value1}}</span>
      <app-number-input [(valueAsNumber)]="value1"></app-number-input>
    </div>
    <div>
      <span>{{value2}}</span>
      <app-number-input [(valueAsNumber)]="value2" [restorePreviousValue]="false"></app-number-input>
    </div>
    <div>
      <span>{{value3}}</span>
      <app-number-input [(valueAsNumber)]="value3" [precision]="0"></app-number-input>
    </div>
    <div>
      <span>{{value4}}</span>
      <app-number-input [(valueAsNumber)]="value4" [precision]="2"></app-number-input>
    </div>
  </div>

  <div class="numbers">
    <div>
      <span>{{value5}}</span>
      <app-number-input [(valueAsNumber)]="value5" [minValue]="0"></app-number-input>
    </div>
    <div>
      <span>{{value6}}</span>
      <app-number-input [(valueAsNumber)]="value6" [maxValue]="10"></app-number-input>
    </div>
    <div>
      <span>{{value7}}</span>
      <app-number-input [(valueAsNumber)]="value7" [precision]="0" [minValue]="0" [maxValue]="10"></app-number-input>
    </div>
    <div>
      <span>{{value8}}</span>
      <app-number-input [(valueAsNumber)]="value8" [precision]="2" [minValue]="0" [maxValue]="10"></app-number-input>
    </div>
  </div>

  <div>
    <router-outlet></router-outlet>
  </div>
</body>
</html>
