

<div class="content">
  <div>
    <span>{{value1}}</span>
    <app-time-input [(valueAsDate)]="value1" [restorePreviousValue]="false" [showSeconds]="false"></app-time-input>
  </div>
  <!-- <div>
    <span>{{value2}}</span>
    <app-time-input></app-time-input>
  </div>
  <div>
    <span>{{value3}}</span>
    <app-time-input></app-time-input>
  </div>
  <div>
    <span>{{value4}}</span>
    <app-time-input></app-time-input>
  </div> -->
</div>

<!-- <div class="content">
  <div>
    <span>{{value5}}</span>
    <app-time-input></app-time-input>
  </div>
  <div>
    <span>{{value6}}</span>
    <app-time-input></app-time-input>
  </div>
  <div>
    <span>{{value7}}</span>
    <app-time-input></app-time-input>
  </div>
  <div>
    <span>{{value8}}</span>
    <app-time-input></app-time-input>
  </div>
</div> -->
