

<div class="content">
  <div>
    <span>{{value1}}</span>
    <app-time-input [(valueAsDate)]="value1"></app-time-input>
  </div>
  <!-- <div>
    <span>{{value2}}</span>
    <app-time-input></app-time-input>
  </div>
  <div>
    <span>{{value3}}</span>
    <app-time-input></app-time-input>
  </div>
  <div>
    <span>{{value4}}</span>
    <app-time-input></app-time-input>
  </div> -->
</div>

<div class="content">
  <div>
    <span>{{value2}}</span>
    <app-time-input [(valueAsDate)]="value2"></app-time-input>
  </div>
  <div>
    <span>{{value3}}</span>
    <app-time-input [(valueAsDate)]="value3"></app-time-input>
  </div>
</div>
