<div>
  <input
    type="text"
    [attr.inputmode]="inputMode"
    [value]="valueAsString"
    (focus)="onFocus($event)"
    (blur)="onBlur($event)"
    (keypress)="onKeypress($event)"
  >
</div>

<span>precision: {{precision ?? 'not specified'}}</span>
<br />
<span>min / max Value: {{minValue ?? '∞'}} / {{maxValue ?? '∞'}}</span>
<br />
<span>valueAsString: {{valueAsString}}</span>
<br />
<span>valueAsNumber: {{valueAsNumber}}</span>
<br />
<span>previousValueAsNumber: {{previousValueAsNumber}}</span>

<br />
<br />
<span>decimalLocaleSymbol: '{{decimalLocaleSymbol}}'</span>
<br />
<span>groupLocaleSymbol: '{{groupLocaleSymbol}}'</span>
<br />
<span>minusLocaleSymbol: '{{minusLocaleSymbol}}'</span>
<br />
<span>plusLocaleSymbol: '{{plusLocaleSymbol}}'</span>
<br />
<span>allowedCharacters RegEx: '{{allowedCharacters}}'</span>
