/* You can add global styles to this file, and also import other style files */


/* General Styles */
* {
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: #888 !important;
  overflow: overlay;
  color: var(#5f5f5f);
}
/* End General Styles */
.content {
  display: flex;
  margin-top: 1rem;
}
span {
  font-size: small;
}
